</br>

<script>
$( document ).ready(function() {
  $('#wookmark1').wookmark({
    itemWidth: 343,
    flexibleWidth: true,
    outerOffset: -50,
  });
});
</script>

<ul class="tiles-wrap animated" id="wookmark1">
  <% @plants.each do |plant| %>
  <% if plant.photos.first.present? %>
  <li>
    <%= link_to image_tag(plant.photos.first.picture,
    width: '333',
    height: 'auto'), plant_path(plant),
    class: 'photo-overlay-background' %>
  </li>
  <% else %>
  <li>
    <%= link_to image_tag('flower-large.jpeg', width: '333', height: 'auto'), plant_path(plant) %></li>
  </li>
  <% end %>
  <% end %>
</ul>
