// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Makes images fully responsive */
.img-responsive {
  display: block;
  width: 100%;
  max-height: 550px;
  object-fit: cover;
}

.placeholder {
  border-radius: 0;
}

.photo-overlay-background img {
  opacity: 1;
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,.25),transparent 40%,transparent 60%,rgba(0,0,0,.3));
  background-image: linear-gradient(180deg,rgba(0,0,0,.25) 0,transparent 40%,transparent 60%,rgba(0,0,0,.3));
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-image: -webkit-linear-gradient(top,rgba(0,0,0,.25),transparent 40%,transparent 60%,rgba(0,0,0,.3));
}

.photo-overlay-background:hover img {
  opacity: 0.8;
}

.delete-photo-section {
  object-fit: cover;
  height: 80px;
  margin: 0;
}

.cursor-gallery-click {
  cursor: pointer;
}
